Repository seb-oss/green, pull requests merged in 2022-08, with the labels that each got.

#553 Fix/dropdown scroll
  apps/angular-lib-dev/src/app/dropdown/dropdown.component.html
  libs/angular/src/lib/dropdown/documentation.mdx
  libs/angular/src/lib/dropdown/dropdown-option.directive.ts
  libs/angular/src/lib/dropdown/dropdown.component.ts
  libs/angular/src/lib/dropdown/dropdown.module.ts
  libs/angular/src/lib/dropdown/dropdown.stories.ts
  libs/chlorophyll/scss/components/dropdown/_index.scss
  libs/chlorophyll/scss/components/popover/_mixins.scss
  libs/extract/src/lib/dropdown/dropdown.ts
  libs/extract/src/lib/dropdown/helper-functions.ts
  libs/extract/src/lib/id.ts
Labels: Angular, Extract

#555 fix(chlorophyll): form component responsive sizes
  libs/chlorophyll/scss/components/_shame.scss
  libs/chlorophyll/scss/components/button/_mixins.scss
  libs/chlorophyll/scss/components/dropdown/_mixins.scss
  libs/chlorophyll/scss/components/form/common/_mixins.scss
  libs/chlorophyll/scss/components/form/input/_mixins.scss
Labels: Chlorophyll

#543 New component in Chlorophyll: Slide toggle
  libs/chlorophyll/scss/components/_index.scss
  libs/chlorophyll/scss/components/button/_index.scss
  libs/chlorophyll/scss/components/slide-toggle/_index.scss
  libs/chlorophyll/scss/components/slide-toggle/_mixins.scss
  libs/chlorophyll/scss/components/slide-toggle/mock.js
  libs/chlorophyll/scss/components/slide-toggle/slide-toggle.stories.mdx
Labels: Chlorophyll

#550 Change badge styles according to Design Library
  libs/angular/src/lib/badge/badge.component.ts
  libs/angular/src/lib/badge/badge.stories.ts
  libs/angular/src/lib/badge/documentation.mdx
  libs/chlorophyll/scss/components/badge/_mixins.scss
  libs/react/src/lib/badge/badge.stories.mdx
  libs/react/src/lib/badge/badge.tsx
Labels: Type: Enhancement, Chlorophyll, Angular, React

#564 Feature: iFrame Canvas Mode
  .storybook/addons/iframe-canvas-mode/manager.js
  .storybook/manager.js
  .storybook/preview.js
Labels: Storybook
