Repository seb-oss/green, pull requests merged in 2022-03, with the labels that each got.

#410 Feature/409 small close button for badges
  libs/chlorophyll/scss/components/badge/_index.scss
  libs/chlorophyll/scss/components/badge/_mixins.scss
  libs/chlorophyll/scss/components/close/_mixins.scss
  libs/chlorophyll/scss/stories/badge.stories.mdx
  libs/chlorophyll/scss/tokens/_shame.scss
Labels: Chlorophyll

#388 Feature/385 badge styles
  libs/chlorophyll/scss/components/_index.scss
  libs/chlorophyll/scss/components/badge/_index.scss
  libs/chlorophyll/scss/components/badge/_mixins.scss
  libs/chlorophyll/scss/components/close/_mixins.scss
  libs/chlorophyll/scss/stories/badge.stories.mdx
  libs/chlorophyll/scss/tokens/_shame.scss
Labels: Chlorophyll

#423 refactor: 💡 Added extended props and tests
  libs/react/src/lib/form/form.spec.tsx
  libs/react/src/lib/form/form.stories.mdx
  libs/react/src/lib/form/form.tsx
Labels: enhancement, React

#432 refactor: 💡 React Flexbox component
  libs/react/src/lib/layout/flexbox/flexbox.spec.tsx
  libs/react/src/lib/layout/flexbox/flexbox.stories.mdx
  libs/react/src/lib/layout/flexbox/flexbox.tsx
  libs/react/src/lib/layout/flexbox/types.ts
Labels: React, Storybook

#419 Feature/417 form validator react
  libs/extract/src/lib/helperFunction.ts
  libs/react/src/lib/form/form.spec.tsx
  libs/react/src/lib/form/form.stories.mdx
  libs/react/src/lib/form/form.tsx
  libs/react/src/lib/form/formContext.spec.tsx
  libs/react/src/lib/form/formContext.tsx
  libs/react/src/lib/form/formItems.spec.tsx
  libs/react/src/lib/form/formItems.tsx
  libs/react/src/lib/form/index.ts
  libs/react/src/lib/form/input/input.spec.tsx
  libs/react/src/lib/form/input/input.stories.mdx
  libs/react/src/lib/form/input/input.tsx
  libs/react/src/lib/form/radioButton/radioButton.stories.mdx
  libs/react/src/lib/form/radioButton/radioGroup.spec.tsx
  libs/react/src/lib/form/types.ts
  libs/react/src/lib/form/validateInput.spec.tsx
  libs/react/src/lib/form/validateInput.ts
Labels: React

#442 chore: enable stories.json feature
  .storybook/main.js
Labels: Storybook

#446 test: 💍 add missing tests
  libs/react/src/lib/alert/alert.spec.tsx
  libs/react/src/lib/form/buttonGroup/buttonGroup.test.tsx
  libs/react/src/lib/list/list.spec.tsx
  libs/react/src/lib/list/listItem.spec.tsx
  libs/react/src/lib/modal/modal.spec.tsx
  libs/react/src/lib/tabs/tabs.spec.tsx
Labels: tests, React

#441 feat: 🎸 added radio-btn validation
  libs/react/src/lib/form/form.spec.tsx
  libs/react/src/lib/form/form.stories.mdx
  libs/react/src/lib/form/formItems.tsx
  libs/react/src/lib/form/input/input.tsx
  libs/react/src/lib/form/radioButton/radioGroup.spec.tsx
  libs/react/src/lib/form/radioButton/radioGroup.tsx
  libs/react/src/lib/form/validateInput.spec.tsx
  libs/react/src/lib/form/validateInput.ts
Labels: React
