Repository seb-oss/green, pull requests merged in 2022-01, with the labels that each got.

#305 fix: 🐛 fixed default modal storybook
  libs/react/src/lib/modal/modal.stories.mdx
  libs/react/src/lib/modal/modalSample.tsx
Labels: enhancement, React, Storybook

#329 fix: 🐛 add missing storybooks
  libs/react/src/lib/form/button.stories.mdx
  libs/react/src/lib/form/buttonGroup.stories.mdx
  libs/react/src/lib/form/form.stories.mdx
  libs/react/src/lib/form/input.stories.mdx
  libs/react/src/lib/form/text.stories.mdx
  libs/react/src/lib/form/text.tsx
Labels: React, Storybook

#331 refactor: 💡 place each component in individual folders
  libs/react/src/lib/alert/alert.stories.mdx
  libs/react/src/lib/alert/alert.tsx
  libs/react/src/lib/card/card.stories.mdx
  libs/react/src/lib/card/card.tsx
  libs/react/src/lib/form/button/button.spec.tsx
  libs/react/src/lib/form/button/button.stories.mdx
  libs/react/src/lib/form/button/button.tsx
  libs/react/src/lib/form/buttonGroup/buttonGroup.stories.mdx
  libs/react/src/lib/form/buttonGroup/buttonGroup.test.tsx
  libs/react/src/lib/form/buttonGroup/buttonGroup.tsx
  libs/react/src/lib/form/index.ts
  libs/react/src/lib/form/input/input.spec.tsx
  libs/react/src/lib/form/input/input.stories.mdx
  libs/react/src/lib/form/input/input.tsx
  libs/react/src/lib/form/text/text.spec.tsx
  libs/react/src/lib/form/text/text.stories.mdx
  libs/react/src/lib/form/text/text.tsx
  libs/react/src/lib/layout/flexbox/flexbox.stories.mdx
  libs/react/src/lib/layout/flexbox/flexbox.tsx
  libs/react/src/lib/layout/group/group.spec.tsx
  libs/react/src/lib/layout/group/group.stories.mdx
  libs/react/src/lib/layout/group/group.tsx
  libs/react/src/lib/layout/index.ts
  libs/react/src/lib/modal/modal.stories.mdx
  libs/react/src/lib/modal/modal.tsx
Labels: React

#335 fix: 🐛 add useArgs to handle state in default modal storybook
  libs/react/src/lib/modal/modal.spec.tsx
  libs/react/src/lib/modal/modal.stories.mdx
  libs/react/src/lib/modal/modal.stories.tsx
  libs/react/src/lib/modal/modal.tsx
  libs/react/src/lib/modal/modalSample.tsx
Labels: React, Storybook

#284 Feature/navbar
  libs/extract/src/index.ts
  libs/extract/src/lib/navbar.ts
  libs/react/src/index.ts
  libs/react/src/lib/navbar/navbar.spec.tsx
  libs/react/src/lib/navbar/navbar.stories.mdx
  libs/react/src/lib/navbar/navbar.tsx
Labels: enhancement, React, Storybook

#344 refactor: 💡 link storybook
  libs/react/src/lib/link/link.stories.mdx
Labels: React, Storybook

#343 refactor: 💡 dropdown storybook
  libs/react/src/lib/dropdown/dropdown.stories.mdx
  libs/react/src/lib/dropdown/dropdown.tsx
Labels: React, Storybook

#304 Feature/list
  libs/extract/src/index.ts
  libs/extract/src/lib/list.ts
  libs/react/src/index.ts
  libs/react/src/lib/list/list.spec.tsx
  libs/react/src/lib/list/list.stories.mdx
  libs/react/src/lib/list/list.tsx
  libs/react/src/lib/list/listItem.spec.tsx
  libs/react/src/lib/list/listItem.tsx
Labels: enhancement, React, Extract, Storybook

#351 refactor: 💡 Refactored card component
  libs/react/src/lib/card/card.spec.tsx
  libs/react/src/lib/card/card.stories.mdx
  libs/react/src/lib/card/card.tsx
Labels: React

#328 Feature/dropdown angular
  apps/angular-lib-dev/src/app/dropdown/dropdown.component.html
  apps/angular-lib-dev/src/app/dropdown/dropdown.component.ts
  apps/angular-lib-dev/src/app/dropdown/dropdown.module.ts
  libs/angular/.storybook/main.js
  libs/angular/ng-package.json
  libs/angular/package.json
  libs/angular/src/index.ts
  libs/angular/src/lib/dropdown/dropdown.component.ts
  libs/angular/src/lib/dropdown/dropdown.module.ts
  libs/angular/src/lib/dropdown/dropdown.spec.ts
  libs/angular/src/lib/dropdown/dropdown.stories.ts
  libs/angular/src/lib/dropdown/popover-element.directive.ts
  libs/angular/src/lib/dropdown/popover-option.directive.ts
  libs/angular/src/lib/dropdown/popover-trigger.directive.ts
  libs/angular/src/lib/dropdown/popover.directive.ts
  libs/extract/src/lib/dropdown/dropdown.spec.ts
  libs/extract/src/lib/dropdown/dropdown.ts
  libs/extract/src/lib/dropdown/index.ts
  libs/extract/src/lib/dropdown/reducers.spec.ts
  libs/extract/src/lib/dropdown/reducers.ts
  package.json
  yarn.lock
Labels: Angular

#341 refactor: 💡 card storybook
  libs/react/src/lib/card/card.stories.mdx
Labels: React, Storybook

#337 refactor: 💡 alert component storybook
  libs/react/src/lib/alert/alert.spec.tsx
  libs/react/src/lib/alert/alert.stories.mdx
  libs/react/src/lib/alert/alert.tsx
Labels: React, Storybook
