Repository seb-oss/green, pull requests merged in 2022-04, with the labels that each got.

#454 fix: 🐛 Updated documentation
  libs/chlorophyll/stories/introduction/Use.stories.mdx
  libs/react/src/introduction/use.stories.mdx
Labels: documentation

#443 feat: 🎸 add badge component with tests
  libs/react/src/index.ts
  libs/react/src/lib/badge/badge.spec.tsx
  libs/react/src/lib/badge/badge.stories.mdx
  libs/react/src/lib/badge/badge.tsx
Labels: React

#431 Feature/datepicker
  apps/angular-lib-dev/src/app/app-routing.module.ts
  apps/angular-lib-dev/src/app/datepicker/datepicker-routing.module.ts
  apps/angular-lib-dev/src/app/datepicker/datepicker.component.html
  apps/angular-lib-dev/src/app/datepicker/datepicker.component.ts
  apps/angular-lib-dev/src/app/datepicker/datepicker.module.ts
  apps/angular-lib-dev/src/app/dropdown/dropdown.component.ts
  libs/angular/src/index.ts
  libs/angular/src/lib/datepicker/datepicker.component.html
  libs/angular/src/lib/datepicker/datepicker.component.ts
  libs/angular/src/lib/datepicker/datepicker.module.ts
  libs/angular/src/lib/datepicker/datepicker.stories.ts
  libs/angular/src/lib/datepicker/documentation.mdx
  libs/angular/src/lib/dropdown/documentation.mdx
  libs/angular/src/lib/dropdown/dropdown.component.ts
  libs/angular/src/lib/dropdown/dropdown.stories.ts
  libs/angular/src/lib/green-angular.module.ts
  libs/chlorophyll/scss/common/functions/_functions.scss
  libs/chlorophyll/scss/components/_index.scss
  libs/chlorophyll/scss/components/button/_mixins.scss
  libs/chlorophyll/scss/components/datepicker/_index.scss
  libs/chlorophyll/scss/components/datepicker/_mixins.scss
  libs/chlorophyll/scss/components/datepicker/datepicker.stories.mdx
  libs/chlorophyll/scss/components/form/group/_mixins.scss
  libs/chlorophyll/scss/components/icon/_index.scss
  libs/chlorophyll/scss/components/icon/_mixins.scss
  libs/chlorophyll/scss/components/icon/icons.stories.mdx
  libs/chlorophyll/scss/components/modal/_index.scss
  libs/chlorophyll/scss/components/themes/_index.scss
  libs/chlorophyll/scss/components/themes/_mixins.scss
  libs/chlorophyll/scss/components/utility/_colors.scss
  libs/extract/src/helpers.ts
  libs/extract/src/index.ts
  libs/extract/src/lib/datepicker/calendar.ts
  libs/extract/src/lib/datepicker/datepicker.spec.ts
  libs/extract/src/lib/datepicker/datepicker.ts
  libs/extract/src/lib/datepicker/index.ts
  libs/extract/src/lib/datepicker/values.spec.ts
  libs/extract/src/lib/datepicker/values.ts
  libs/react/src/lib/datepicker/datepicker.stories.mdx
  libs/react/src/lib/datepicker/datepicker.tsx
  libs/react/src/lib/datepicker/hook.ts
  package.json
  yarn.lock
Labels: Extract
