Repository seb-oss/green, pull requests merged in 2023-08, with the labels that each got.

#953 Fix: typography
  libs/chlorophyll/scss/components/typography/typography.stories.mdx
  libs/chlorophyll/scss/tokens/_typography.scss
  libs/chlorophyll/src/tokens/typography.ts
Labels: Lib: Chlorophyll, Comp: Heading

#948 fix(dropdown): don't treat `0` as a falsy option value
  libs/extract/src/lib/dropdown/reducers.ts
Labels: Comp: Dropdown

#982 feat(angular): modal custom header
  libs/angular/src/lib/modal/documentation.mdx
  libs/angular/src/lib/modal/index.ts
  libs/angular/src/lib/modal/modal-footer.directive.ts
  libs/angular/src/lib/modal/modal-header.directive.ts
  libs/angular/src/lib/modal/modal.component.html
  libs/angular/src/lib/modal/modal.component.spec.ts
  libs/angular/src/lib/modal/modal.component.ts
  libs/angular/src/lib/modal/modal.module.ts
  libs/angular/src/lib/modal/modal.stories.ts
Labels: Lib: Angular, Comp: Modal
