Repository seb-oss/green, pull requests merged in 2023-03, with the labels that each got.

#761 feature: slider component
  libs/angular/src/index.ts
  libs/angular/src/lib/accordion/accordion.stories.ts
  libs/angular/src/lib/green-angular.module.ts
  libs/angular/src/lib/slider/documentation.mdx
  libs/angular/src/lib/slider/index.ts
  libs/angular/src/lib/slider/slider.component.html
  libs/angular/src/lib/slider/slider.component.ts
  libs/angular/src/lib/slider/slider.module.ts
  libs/angular/src/lib/slider/slider.stories.ts
  libs/chlorophyll/scss/components/_index.scss
  libs/chlorophyll/scss/components/slider/_index.scss
  libs/chlorophyll/scss/components/slider/_mixins.scss
  libs/chlorophyll/scss/components/slider/slider.stories.mdx
  libs/extract/src/index.ts
  libs/extract/src/lib/slider.ts
Labels: Chlorophyll, Angular, Extract

#763 feat: 🎸 add input instruction and placeholder props to the component
  libs/angular/src/lib/slider/documentation.mdx
  libs/angular/src/lib/slider/slider.component.html
  libs/angular/src/lib/slider/slider.component.ts
  libs/angular/src/lib/slider/slider.stories.ts
  libs/chlorophyll/scss/components/slider/_index.scss
Labels: Type: Enhancement, Angular

#794 feature: slider component for react
  libs/angular/src/lib/slider/slider.component.html
  libs/angular/src/lib/slider/slider.component.ts
  libs/angular/src/lib/slider/slider.stories.ts
  libs/react/src/index.ts
  libs/react/src/lib/slider/index.ts
  libs/react/src/lib/slider/slider.stories.mdx
  libs/react/src/lib/slider/slider.tsx
  libs/react/src/types/props/index.ts
Labels: React

#797 feat: 🎸 Add link variants: animated with arrow, icon on the left or right
  libs/chlorophyll/scss/components/link/_index.scss
  libs/chlorophyll/scss/components/link/_mixins.scss
  libs/chlorophyll/scss/components/link/link.stories.mdx
  libs/chlorophyll/scss/tokens/_shame.scss
Labels: Chlorophyll

#806 fix: 🐛 match form info color to feedback
  libs/chlorophyll/scss/components/form/group/group.stories.mdx
  libs/chlorophyll/scss/components/form/validation/_mixins.scss
Labels: Type: Bug, Chlorophyll

#811 fix: 🐛 fix validation border on active
  libs/chlorophyll/scss/components/form/validation/_mixins.scss
Labels: Type: Bug, Chlorophyll

#815 fix: 🐛 make static text fixed at the end of parent element
  libs/chlorophyll/scss/components/form/group/_mixins.scss
Labels: Chlorophyll

#808 feat: add component filter-chip
  .storybook/storybook-overrides.scss
  .storybook/themes.js
  libs/chlorophyll/scss/components/_index.scss
  libs/chlorophyll/scss/components/button/_index.scss
  libs/chlorophyll/scss/components/filter-chip/_index.scss
  libs/chlorophyll/scss/components/filter-chip/_mixins.scss
  libs/chlorophyll/scss/components/filter-chip/_ripple.scss
  libs/chlorophyll/scss/components/filter-chip/_tokens.scss
  libs/chlorophyll/scss/components/filter-chip/config.js
  libs/chlorophyll/scss/components/filter-chip/filter-chip.stories.mdx
  libs/chlorophyll/scss/components/themes/_index.scss
  libs/chlorophyll/scss/components/use-green-scope/_index.scss
  libs/chlorophyll/scss/tokens/_animation.scss
  libs/chlorophyll/scss/tokens/_components.scss
  libs/chlorophyll/scss/tokens/_shame.scss
  libs/chlorophyll/stories/introduction/Introduction.stories.mdx
  libs/extract/src/index.ts
  libs/extract/src/lib/ripple.ts
Labels: Chlorophyll
