Repository seb-oss/green, pull requests merged in 2023-09, with the labels that each got.

#986 feat: 🎸 add support for black color check icons on check lists
  libs/chlorophyll/scss/components/list/_index.scss
  libs/chlorophyll/scss/components/list/_mixins.scss
  libs/chlorophyll/scss/components/list/list.stories.mdx
Labels: Lib: Chlorophyll, Comp: List

#987 Fix/in wizard
  libs/chlorophyll/scss/components/typography/_index.scss
  libs/chlorophyll/scss/components/wizard/in-page/in-page-wizard.stories.mdx
Labels: Lib: Chlorophyll, Comp: Wizard

#1014 fix: 🐛 edit button on mobile view
  libs/chlorophyll/scss/components/wizard/in-page/_mixins.scss
  libs/chlorophyll/scss/components/wizard/in-page/in-page-wizard.stories.mdx
Labels: Lib: Chlorophyll, Comp: Wizard

#1020 fix(datepicker): label spacing
  apps/react-lib-dev/src/app/form.tsx
  libs/chlorophyll/scss/components/form/common/_mixins.scss
Labels: Lib: Chlorophyll, Comp: Datepicker

#1030 fix: 🐛 edit buttons should be hidden on active state
  libs/chlorophyll/scss/components/wizard/in-page/_mixins.scss
  libs/chlorophyll/scss/components/wizard/in-page/in-page-wizard.stories.mdx
Labels: Lib: Chlorophyll, Comp: Wizard

#1027 fix(dropdown): fix mobile view and add backdrop
  apps/core-lib-dev/project.json
  libs/core/project.json
  libs/core/src/components/dropdown/dropdown.stories.mdx
  libs/core/src/components/dropdown/dropdown.test.ts
  libs/core/src/components/dropdown/dropdown.trans.styles.scss
  libs/core/src/components/dropdown/dropdown.ts
  libs/core/src/primitives/listbox/option.trans.styles.scss
  libs/core/src/primitives/popover/popover.styles.ts
  libs/core/src/primitives/popover/popover.trans.styles.scss
  libs/core/src/primitives/popover/popover.ts
  libs/core/src/utils/decorators/index.ts
  libs/core/src/utils/decorators/watch-media-query.ts
Labels: Comp: Dropdown, Lib: Core
