Repository seb-oss/green, pull requests merged in 2024-12, with the labels that each got.

#1884 Radio/Checkbox: Close the gap
  libs/angular/src/v-angular/checkbox/checkbox.component.html
  libs/angular/src/v-angular/checkbox/checkbox.component.scss
  libs/angular/src/v-angular/checkbox/checkbox.component.spec.ts
  libs/angular/src/v-angular/checkbox/checkbox.component.ts
  libs/angular/src/v-angular/checkbox/checkbox.module.ts
  libs/angular/src/v-angular/checkbox/checkbox.stories.ts
  libs/angular/src/v-angular/radio/radio.component.html
  libs/angular/src/v-angular/radio/radio.component.scss
  libs/angular/src/v-angular/radio/radio.component.spec.ts
  libs/angular/src/v-angular/radio/radio.component.ts
  libs/angular/src/v-angular/radio/radio.module.ts
  libs/angular/src/v-angular/radio/radio.stories.ts
Labels: Lib: Angular, Comp: Radio, Comp: CheckBox

#1878 Dropdown: Close the gap
  libs/angular/src/v-angular/core/core.utils.ts
  libs/angular/src/v-angular/dropdown/dropdown-list/dropdown-list.component.html
  libs/angular/src/v-angular/dropdown/dropdown-list/dropdown-list.component.scss
  libs/angular/src/v-angular/dropdown/dropdown-list/dropdown-list.component.ts
  libs/angular/src/v-angular/dropdown/dropdown.component.html
  libs/angular/src/v-angular/dropdown/dropdown.component.scss
  libs/angular/src/v-angular/dropdown/dropdown.component.ts
  libs/angular/src/v-angular/dropdown/dropdown.module.ts
  libs/angular/src/v-angular/dropdown/dropdown.stories.ts
  libs/angular/src/v-angular/input/input.component.scss
  libs/angular/src/v-angular/input/input.stories.ts_
Labels: Comp: Dropdown

#1882 Tooltip: Fix background color
  libs/angular/src/v-angular/tooltip/tooltip.directive.ts
  libs/angular/src/v-angular/tooltip/tooltip.stories.ts
  libs/angular/src/v-angular/tooltip/tooltip.styles.ts
Labels: Comp: Tooltip

#1883 Fix: v-angular alignment
  libs/angular/src/v-angular/base-control-value-accessor/base-control-value-accessor.component.ts
  libs/angular/src/v-angular/button/button.component.ts
Labels: Lib: Angular

#1887 Input/Textarea: Error message alignment
  libs/angular/src/v-angular/base-control-value-accessor/base-control-value-accessor.component.ts
  libs/angular/src/v-angular/input/input.component.html
  libs/angular/src/v-angular/input/input.component.scss
  libs/angular/src/v-angular/input/input.component.ts
  libs/angular/src/v-angular/input/input.stories.ts
  libs/angular/src/v-angular/textarea/textarea.component.html
  libs/angular/src/v-angular/textarea/textarea.component.scss
  libs/angular/src/v-angular/textarea/textarea.stories.ts
Labels: Comp: Input, Comp: Textarea

#1875 Field Base: Input
  .changeset/little-socks-smash.md
  .changeset/six-cameras-dance.md
  .vscode/settings.json
  apps/angular-lib-dev/src/app/form/form.component.html
  apps/angular-lib-dev/src/app/form/form.component.ts
  libs/core/src/components/datepicker/datepicker.ts
  libs/core/src/components/input/input.styles.ts
  libs/core/src/components/input/input.test.ts
  libs/core/src/components/input/input.trans.styles.ts
  libs/core/src/components/input/input.ts
  libs/core/src/primitives/field-base/field-base.styles.ts
  libs/core/src/primitives/field-base/field-base.trans.styles.scss
  libs/core/src/primitives/field-base/field-base.trans.styles.ts
  libs/core/src/primitives/field-base/field-base.ts
  libs/core/src/utils/transitional-styles/transitional-styles.ts
Labels: Comp: Input, Field Base
