Repository seb-oss/green, pull requests merged in 2024-09, with the labels that each got.

#1547 refactor/inaccurate-accordion-chevron-icon
  .changeset/witty-rockets-mix.md
  libs/chlorophyll/scss/components/accordion/_mixins.scss
Labels: Lib: Chlorophyll, Comp: Accordion

#1545 Tokens: Typography
  .changeset/lazy-pumas-try.md
  .changeset/thick-lizards-attack.md
  libs/core/src/components/button/fab/fab.styles.ts
  libs/core/src/components/content/text/text.stories.ts
  libs/core/src/components/content/text/text.style.css.ts
  libs/core/src/components/content/text/text.ts
  libs/core/src/components/datepicker/datepicker.styles.ts
  libs/core/src/components/dropdown/dropdown.styles.ts
  libs/core/src/components/layout/card/card.stories.ts
  libs/core/src/components/layout/card/card.style.css.ts
  libs/core/src/components/theme/theme.stories.ts
  libs/core/src/storybook-docs/style/typography.mdx
  libs/core/src/tokens.style.ts
  libs/tokens/src/formats.ts
  libs/tokens/src/tokens/shadow/shadow.json
  libs/tokens/src/tokens/typography/line-height.json
  libs/tokens/src/tokens/typography/typography.json
  libs/tokens/style-dictionary.config.ts
Labels: Lib: Core

#1560 Tokens: Colors
  .changeset/sixty-vans-bake.md
  .changeset/stupid-bulldogs-arrive.md
  libs/core/src/components/button/button.stories.ts
  libs/core/src/components/button/button.style.css
  libs/core/src/components/button/button.test.ts
  libs/core/src/components/button/button.ts
  libs/core/src/components/button/fab/fab.stories.ts
  libs/core/src/components/button/fab/fab.styles.ts
  libs/core/src/components/button/fab/fab.ts
  libs/core/src/components/content/text/text.ts
  libs/core/src/components/layout/card/card.ts
  libs/core/src/components/layout/container/container.ts
  libs/core/src/components/theme/theme.ts
  libs/core/src/primitives/signal/index.ts
  libs/core/src/primitives/signal/signal.style.css.ts
  libs/core/src/primitives/signal/signal.ts
  libs/core/src/storybook-docs/style/colors.mdx
  libs/core/src/tokens.style.ts
  libs/tokens/src/formats.ts
  libs/tokens/src/templates/figma/color-original.json
  libs/tokens/src/templates/figma/color-template.json
  libs/tokens/src/tokens/color-v2/color.json
  libs/tokens/style-dictionary.config.ts
Labels: Lib: Core, Lib: Tokens

#1599 Pagination size fix
  .changeset/lucky-clocks-invent.md
  libs/chlorophyll/scss/components/pagination/_mixins.scss
  libs/chlorophyll/scss/components/pagination/pagination.mdx
Labels: Comp: Pagination
