Repository seb-oss/green, pull requests merged in 2024-06, with the labels that each got.

#1422 Feat/Breadcrumb chlorophyll and react component
  .changeset/strong-teachers-refuse.md
  libs/chlorophyll/scss/components/_index.scss
  libs/chlorophyll/scss/components/breadcrumb/_index.scss
  libs/chlorophyll/scss/components/breadcrumb/_mixins.scss
  libs/chlorophyll/scss/components/breadcrumb/breadcrumb.stories.mdx
  libs/react/src/index.ts
  libs/react/src/lib/breadcrumb/breadcrumb.spec.tsx
  libs/react/src/lib/breadcrumb/breadcrumb.stories.mdx
  libs/react/src/lib/breadcrumb/breadcrumb.tsx
Labels: Lib: Chlorophyll, Lib: React

#1455 refactor: 💡 update table styling according to SEB design system
  .changeset/thin-eagles-ring.md
  libs/chlorophyll/scss/components/table/_mixins.scss
Labels: Lib: Chlorophyll

#1457 New component: Menu button
  .changeset/thirty-radios-cry.md
  libs/core/src/components/index.ts
  libs/core/src/components/menu-button/index.ts
  libs/core/src/components/menu-button/menu-button.css
  libs/core/src/components/menu-button/menu-button.stories.ts
  libs/core/src/components/menu-button/menu-button.test.ts
  libs/core/src/components/menu-button/menu-button.ts
Labels: Lib: Core
