Repository seb-oss/green, pull requests merged in 2025-06, with the labels that each got.

#2240 Alert: css correction
  .changeset/tiny-news-judge.md
  libs/core/src/components/alert/alert.stories.ts
  libs/core/src/components/alert/alert.style.ts
Labels: Comp: AlertRibbon

#2252 fix(core): add missing fab export
  .changeset/cuddly-seahorses-notice.md
  libs/core/src/components/index.ts
Labels: Lib: Core

#2260 Breadcrumbs: Patch custom html scoping
  .changeset/lovely-foxes-call.md
  libs/core/src/components/breadcrumbs/breadcrumbs.component.ts
Labels: Comp: Breadcrumb
