Repository seb-oss/green, pull requests merged in 2025-08, with the labels that each got.

#2336 Alert: Auto dismiss on viewport
  .changeset/smooth-ladybugs-wash.md
  libs/core/src/components/alert/alert.component.ts
  libs/core/src/components/alert/alert.stories.ts
Labels: Comp: Alert

#2346 Icon: add mic-on and mic-off for core and react
  .changeset/fifty-clouds-lay.md
  .changeset/hot-buckets-mate.md
  libs/core/src/components/icon/assets/regular/mic-off.svg
  libs/core/src/components/icon/assets/regular/mic-on.svg
  libs/core/src/components/icon/assets/solid/mic-off.svg
  libs/core/src/components/icon/assets/solid/mic-on.svg
  libs/core/src/components/icon/icons/index.ts
  libs/core/src/components/icon/icons/mic-off.component.ts
  libs/core/src/components/icon/icons/mic-off.ts
  libs/core/src/components/icon/icons/mic-on.component.ts
  libs/core/src/components/icon/icons/mic-on.ts
  libs/core/src/components/icon/icons/pure.ts
  libs/react/src/lib/icon/icons/IconMicOff.tsx
  libs/react/src/lib/icon/icons/IconMicOn.tsx
  libs/react/src/lib/icon/icons/index.ts
Labels: Comp: Icon

#2341 Calendar & Datepicker: GDS23 style
  .changeset/pretty-lies-perform.md
  libs/core/src/components/calendar/calendar.component.ts
  libs/core/src/components/calendar/calendar.stories.ts
  libs/core/src/components/calendar/calendar.styles.ts
  libs/core/src/components/datepicker/datepicker.component.ts
  libs/core/src/components/datepicker/datepicker.stories.ts
  libs/core/src/components/datepicker/datepicker.styles.ts
Labels: Comp: Datepicker, Lib: Core

#2367 Doc: Sorted the migration guide bullets in alphabetic order
  .changeset/mighty-spies-accept.md
  libs/core/src/storybook-docs/guides/migration-guide.mdx
Labels: Type: Documentation
