Repository seb-oss/green, pull requests merged in 2025-04, with the labels that each got.

#1755 New component: Details
  .changeset/dull-shirts-joke.md
  .changeset/fuzzy-crabs-shout.md
  apps/docs/content/component/accordion/accessibility.mdx
  apps/docs/content/component/accordion/code.mdx
  apps/docs/content/component/accordion/design.mdx
  apps/docs/content/component/accordion/index.mdx
  apps/docs/content/component/accordion/ux-text.mdx
  apps/docs/design/example/accordion.tsx
  apps/docs/design/example/index.tsx
  apps/docs/utils/import/components.tsx
  libs/core/src/components/details/details-icon/details-icon.component.ts
  libs/core/src/components/details/details-icon/details-icon.style.ts
  libs/core/src/components/details/details-icon/details-icon.ts
  libs/core/src/components/details/details.component.ts
  libs/core/src/components/details/details.stories.ts
  libs/core/src/components/details/details.styles.ts
  libs/core/src/components/details/details.test.ts
  libs/core/src/components/details/details.ts
  libs/core/src/components/details/index.ts
  libs/tokens/src/tokens/typography/typography.json
Labels: Comp: Accordion

#2140 Button: Next and prev buttons
  .changeset/fresh-weeks-approve.md
  libs/core/src/components/button/button.component.ts
  libs/core/src/components/button/button.stories.ts
  libs/core/src/components/button/button.style.css
  libs/core/src/components/button/button.test.ts
Labels: Comp: Button

#2145 Link: Add `aria-label`
  .changeset/slow-phones-mix.md
  libs/core/src/components/link/link.component.ts
  libs/core/src/components/link/link.stories.ts
  libs/core/src/components/link/link.test.ts
Labels: Comp: Link

#2136 Dropdown/Typeahead: Enable keyboard-navigation with NVDA
  .changeset/olive-mails-double.md
  libs/angular/src/v-angular/dropdown/dropdown-list/dropdown-list.component.ts
  libs/angular/src/v-angular/dropdown/dropdown.component.html
  libs/angular/src/v-angular/dropdown/dropdown.stories.ts
  libs/angular/src/v-angular/dropdown/typeahead/typeahead-dropdown-list/typeahead-dropdown-list.component.ts
  libs/angular/src/v-angular/dropdown/typeahead/typeahead-input/typeahead-input.component.html
  libs/angular/src/v-angular/modal/dialog/dialog.stories.ts
  libs/angular/src/v-angular/modal/slide-out/slide-out.stories.ts
Labels: Comp: Dropdown

#2152 Updated v-angular table for mobile view
  .changeset/proud-planes-allow.md
  libs/angular/src/v-angular/table/table.component.html
  libs/angular/src/v-angular/table/table.component.scss
  libs/angular/src/v-angular/table/table.mock.ts
  libs/angular/src/v-angular/table/table.models.ts
Labels: Lib: Angular, Comp: Table

#2108 Datepicker: Option to hide clear and today
  .changeset/stale-comics-tell.md
  libs/core/src/components/datepicker/datepicker.component.ts
  libs/core/src/components/datepicker/datepicker.stories.ts
  libs/core/src/components/datepicker/datepicker.test.ts
  libs/react/src/lib/datepicker/datepicker.tsx
Labels: Comp: Datepicker
