Repository seb-oss/green, pull requests merged in 2025-01, with the labels that each got.

#1877 Field Base: Textarea
  .changeset/big-cherries-lie.md
  .changeset/wicked-bikes-speak.md
  libs/core/src/components/input/input.ts
  libs/core/src/components/textarea/textarea.styles.ts
  libs/core/src/components/textarea/textarea.test.ts
  libs/core/src/components/textarea/textarea.ts
  libs/core/src/primitives/field-base/field-base.styles.ts
  libs/core/src/primitives/field-base/field-base.trans.styles.scss
  libs/core/src/primitives/field-base/field-base.ts
Labels: Comp: Textarea, Field Base

#1874 Field Base: Dropdown
  .changeset/selfish-chicken-dance.md
  .changeset/tasty-crabs-cry.md
  apps/angular-lib-dev/src/app/form/form.component.html
  apps/angular-lib-dev/src/styles.scss
  apps/react-lib-dev/src/styles.scss
  libs/angular/src/lib/shared/core-control/index.ts
  libs/core/src/components/dropdown/dropdown.stories.ts
  libs/core/src/components/dropdown/dropdown.styles.ts
  libs/core/src/components/dropdown/dropdown.test.ts
  libs/core/src/components/dropdown/dropdown.trans.styles.scss
  libs/core/src/components/dropdown/dropdown.trans.styles.ts
  libs/core/src/components/dropdown/dropdown.ts
  libs/core/src/components/form/form-control.ts
  libs/core/src/components/input/input.trans.styles.ts
  libs/core/src/components/input/input.ts
  libs/core/src/components/popover/popover.styles.ts
  libs/core/src/components/popover/popover.trans.styles.scss
  libs/core/src/components/textarea/textarea.ts
  libs/core/src/primitives/field-base/field-base.styles.ts
  libs/core/src/primitives/field-base/field-base.ts
  libs/core/src/primitives/listbox/option.styles.ts
  libs/core/src/primitives/listbox/option.trans.styles.scss
Labels: Comp: Dropdown, Field Base

#1873 Field Base: Datepicker
  .changeset/gentle-camels-appear.md
  libs/angular/src/lib/datepicker/datepicker.component.html
  libs/core/src/components/datepicker/datepicker.stories.ts
  libs/core/src/components/datepicker/datepicker.styles.ts
  libs/core/src/components/datepicker/datepicker.test.ts
  libs/core/src/components/datepicker/datepicker.trans.styles.scss
  libs/core/src/components/datepicker/datepicker.trans.styles.ts
  libs/core/src/components/datepicker/datepicker.ts
  libs/core/src/components/dropdown/dropdown.ts
  libs/core/src/primitives/form-control-footer/form-control-footer.ts
  libs/react/src/lib/datepicker/datepicker.tsx
Labels: Comp: Datepicker, Field Base

#1879 Input/Textarea: Close the gap
  libs/angular/src/v-angular/input/input.component.ts
  libs/angular/src/v-angular/textarea/textarea.component.ts
Labels: Comp: Input, Comp: Textarea

#1890 Not selected tabs now have same size as selected
  .changeset/forty-starfishes-roll.md
  libs/chlorophyll/scss/components/tabs-bar/_mixins.scss
  libs/react/src/lib/tabs/tabs.stories.tsx
Labels: Comp: Tab

#1927 refactor/update-react-segmented-control-props
  .changeset/chilly-sheep-clap.md
  libs/react/src/lib/segmented-control/segmented-control.mdx
  libs/react/src/lib/segmented-control/segmented-control.tsx
Labels: Lib: React, Lib: Storybook

#1946 bugfix/segmented-control-arrows-not-hidden
  .changeset/actions-button-fix.md
  .changeset/react-component-fix.md
  libs/core/src/components/segmented-control/segmented-control.ts
  libs/react/src/lib/segmented-control/segmented-control.mdx
  libs/react/src/lib/segmented-control/segmented-control.tsx
Labels: Lib: React, Comp: SegmentedControl, Lib: Core
